.swiperWrap {
  @media (max-width: 1240px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (max-width: 1200px) {
    margin: 0;
  }
}

.imagePart {
  .firstImage {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 140px;
      height: 140px;
      object-fit: contain;
      @media (max-width: 420px) {
        width: 120px;
        height: 120px;
      }
      @media (max-width: 340px) {
        width: 100px;
        height: 100px;
      }
    }
    .myPart {
      h3 {
        margin-bottom: 14px;
      }
      .name {
        display: flex;
        span {
          font-weight: 700;
        }
      }
    }
  }
  .wrpa {
    .dateCls {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.title {
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 57px;

    color: #263238;
    margin: 80px 0 100px 0;
    text-align: center;

    @media (max-width: 1000px) {
      font-size: 38px;
      line-height: 47px;
      margin: 60px 0 80px 0;
    }
    @media (max-width: 650px) {
      font-size: 28px;
      line-height: 37px;
      margin: 30px 0 50px 0;
    }
  }
}
.wrapOtziv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .itemBtn{

    button{

      padding: 15px;
      font-weight: 600;
      border: none;
      outline: none;
      border-radius: 100px;
    }
  }
  .titleOtziv {
    background-image: url("../../public/Shape.svg");
    height: 140px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
      background-size: 140px;
    }

    @media (max-width: 650px) {
      margin-bottom: 0px;
      background-size: 120px;
    }

    @media (max-width: 500px) {
      background-size: 100px 120px;
    }
    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 57px;
      color: #263238;
      width: 100%;
      @media (max-width: 1000px) {
        font-size: 38px;
        line-height: 47px;
      }
      @media (max-width: 768px) {
        font-size: 35px !important;
        line-height: normal;
      }
      @media (max-width: 650px) {
        font-size: 26px !important;
      }
      @media (max-width: 500px) {
        font-size: 24px !important;
      }
    }
  }
}

.btn {
  text-align: center;
  margin-bottom: 200px;
  @media (max-width: 650px) {
    margin-bottom: 110px;
  }
  button {
    background: #b42126;
    box-shadow: 0px 5px 25px 15px rgba(0, 0, 0, 0.15);
    border-radius: 48px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding: 13px 44px;
  }
}
