.sales{
    display: flex;
    gap: 52px;
    .leftSide{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;

        .salesImg{
            background: #F4F5F8;
            border-radius: 30px;
            display: flex;
            align-items: center;
                    justify-content: center;
        }
    }
}