.header {
  margin: 26px 0;
  z-index: 2;
  width: 100%;
  border-bottom: 1px solid rgba(71, 93, 135, 0.1);

  .wrapItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    @media (max-width: 1400px) {
      margin: 0 30px;
    }

    @media (max-width: 915px) {
      margin: 0 15px;
    }

    @media (max-width: 500px) {
      margin: 0;
    }

    .logo a svg {
      @media (max-width: 935px) {
        width: 200px;
      }

      @media (max-width: 880px) {
        width: 180px;
      }

      @media (max-width: 850px) {
        width: 237px;
      }

      @media (max-width: 500px) {
        width: 200px;
      }

      @media (max-width: 390px) {
        width: 180px;
      }
    }

    .mobileMeny {
      display: none;

      @media (max-width: 850px) {
        display: block;
      }
    }
    .rightPart,
    .login {
      display: flex;
      align-items: center;
      gap: 30px;
      @media (max-width: 1020px) {
        gap: 20px;
      }
      @media (max-width: 880px) {
        font-size: 14px;
      }
      @media (max-width: 850px) {
        display: none;
      }

      .naviRouter {
        a {
          text-decoration: none;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
          color: #212121;

          @media (max-width: 880px) {
            font-size: 11px;
          }
        }
      }
    }

    .loginLink {
      color: #212121;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.backgroundImage {
  background: radial-gradient(
      71.82% 147.35% at 6.9% 17.66%,
      rgba(248, 54, 0, 0.15) 0%,
      rgba(168, 237, 234, 0.15) 0%,
      rgba(248, 54, 0, 0.15) 0.01%,
      rgba(248, 54, 0, 0) 100%
    ),
    radial-gradient(
      28.36% 92.4% at 91.93% 93.95%,
      rgba(249, 212, 35, 0.3) 0%,
      rgba(249, 212, 35, 0.3) 0.01%,
      rgba(249, 212, 35, 0) 100%
    ),
    #f8f8fb;
  background-blend-mode: normal, normal, darken, normal;
  z-index: 1;
  position: relative;
  padding-bottom: 3.5rem;
  min-height: 37.25rem;
  border-radius: 4rem;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;

  @media (max-width: 960px) {
    min-height: 30rem;
  }

  @media (max-width: 910px) {
    min-height: 20rem;
    padding-bottom: 1rem;
  }

  @media (max-width: 846px) {
    min-height: 20rem;
    padding-bottom: 0;
  }

  @media (max-width: 800px) {
    min-height: 10rem;
  }

  @media (max-width: 726px) {
    min-height: 24rem;
  }

  @media (max-width: 600px) {
    min-height: 24rem;
  }

  @media (max-width: 420px) {
    min-height: 25rem;
  }
  
  @media (max-width: 336px) {
    min-height: 24rem;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    width: Min(91.375rem, 95vw);
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 4rem;
    height: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -2;
    width: Min(91.375rem, 95vw);
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 4rem;
    height: 100%;
    content: "";
    opacity: 0.1 !important;
    width: 100% !important;
    background: url("https://www.cleveroad.com/static/noise-2c454d477e9e2c818ff36a85ed52f9a6.webp");
  }

  .heroWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    column-gap: 10px;
    @media (max-width: 1400px) {
      margin: 70px 20px 0 20px;
    }

    @media (max-width: 846px) {
      margin-top: 40px;
    }

    @media (max-width: 726px) {
      margin-top: 45px;
    }

    @media (max-width: 540px) {
      margin-top: 30px;
    }

    @media (max-width: 450px) {
      margin-top: 0px;
    }
    
    @media (max-width: 337px) {
      margin-left: 12px;
      margin-right: 12px;
    }
    .imageBig {
      @media (max-width: 726px) {
        display: none;
      }

      svg {
        @media (max-width: 1050px) {
          width: 500px;
        }

        @media (max-width: 1005px) {
          width: 450px;
        }

        @media (max-width: 910px) {
          width: 420px;
        }

        @media (max-width: 846px) {
          width: 380px;
        }

        @media (max-width: 810px) {
          width: 350px;
        }

        @media (max-width: 800px) {
          width: 300px !important;
        }
      }
    }
    .firstPart {
      max-width: 600px;

      .servicesss {
        @media (max-width: 960px) {
          font-size: 30px;
          line-height: 32px;
        }

        @media (max-width: 650px) {
          font-size: 30px;
          line-height: normal;
        }

        @media (max-width: 386px) {
          font-size: 22px;
        }
      }
      .redTexts {
        color: #b42126;
        font-style: normal;
        font-weight: 600;
        font-size: 58px;
        line-height: 69px;

        @media (max-width: 1005px) {
          font-size: 50px;
          line-height: 55px;
        }

        @media (max-width: 910px) {
          font-size: 45px;
          line-height: 50px;
        }

        @media (max-width: 846px) {
          font-size: 40px;
          line-height: 45px;
        }

        @media (max-width: 450px) {
          font-size: 35px;
          line-height: normal;
        }
        
        @media (max-width: 380px) {
          font-size: 30px;
        }
      }
      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 58px;
        line-height: 69px;
        color: #263238;
        margin-bottom: 15px;
        @media (max-width: 1200px) {
          font-size: 38px;
          line-height: 39px;
        }

        @media (max-width: 960px) {
          font-size: 30px;
          line-height: 32px;
        }

        @media (max-width: 420px) {
          font-size: 27px;
          line-height: normal;
        }

        @media (max-width: 386px) {
          font-size: 22px;
          margin-bottom: 10px;
        }
        
        @media (max-width: 340px) {
          font-size: 20px;
        }
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #263238;

        @media (max-width: 960px) {
          font-size: 13px;
        }
        
        @media (max-width: 365px) {
          font-size: 12px;
        }
      }

      button {
        @media (max-width: 960px) {
          font-size: 13px;
        }
      }

      .blueBtn {
        display: flex;
        padding: 13px 30px;
        background: #475d87;
        border-radius: 48px;
        border: 1px;
        color: white;
        padding: 13px 30px;
        text-transform: uppercase;

        margin-top: 20px;
        @media (max-width: 650px) {
          justify-content: center;
          width: 100%;
         margin-top: 35px;
 
         }
      }
      .regularBTn {
        display: flex;
        background: #b42126;
        border-radius: 48px;
        text-transform: uppercase;

        border: 1px;
        color: white;
        padding: 13px 30px;
        margin-top: 20px;
        @media (max-width: 650px) {
         justify-content: center;
         width: 100%;
        margin-top: 35px;

        }
        @media (max-width: 370px) {
          font-size: 12px;
          padding: 13px 28px;
        }
        
        @media (max-width: 336px) {
          margin-top: 15px;
          padding: 10px 25px;
        }
      }
    }
  }
}
