.header {
  margin: 26px 0;
  z-index: 2;
  width: 100%;
  border-bottom: 1px solid rgba(71, 93, 135, 0.1);

  .wrapItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    .rightPart,
    .login {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    button {
      display: flex;
      padding: 13px 30px;
      background: #b42126;
      border-radius: 48px;
      border: 1px;
      color: white;
    }
  }
}

.backgroundImage {
  position: absolute !important;
  bottom: 355px;
  background: radial-gradient(
      71.82% 147.35% at 6.9% 17.66%,
      rgba(248, 54, 0, 0.15) 0%,
      rgba(168, 237, 234, 0.15) 0%,
      rgba(248, 54, 0, 0.15) 0.01%,
      rgba(248, 54, 0, 0) 100%
    ),
    radial-gradient(
      28.36% 92.4% at 91.93% 93.95%,
      rgba(249, 212, 35, 0.3) 0%,
      rgba(249, 212, 35, 0.3) 0.01%,
      rgba(249, 212, 35, 0) 100%
    ),
    #f8f8fb;
  background-blend-mode: normal, normal, darken, normal;
  z-index: 1;
  position: relative;
  padding-bottom: 3.5rem;
  border-radius: 4rem;
  margin: 0 20px;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    width: Min(91.375rem, 95vw);
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 4rem;
    height: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -2;
    width: Min(91.375rem, 95vw);
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 4rem;
    height: 100%;
    content: "";
    opacity: 0.1 !important;
    width: 100% !important;
    background: url("https://www.cleveroad.com/static/noise-2c454d477e9e2c818ff36a85ed52f9a6.webp");
  }

  .heroWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding: 0 27px;
    align-items: center;

    .ssss {
      h3 {
        font-style: normal;
        color: #263238;
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 57px;
        color: #263238;
      }
      .insta {
        display: flex;
        align-items: center;
        background: #ffffff;
        border-radius: 33px;
        width: 242px;
        justify-content: center;
        p {
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 150%;
          color: #263238;
        }
        
      }
    }
    .firstPart {
      max-width: 600px;



      p {
      font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
color: #263238;
      }
      button {
        background: #b42126;
        border-radius: 48px;
        border: none;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 13px 30px;
        margin-top: 20px;
      }
    }
  }
}
